*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  font-size: 15rem;
  text-shadow: 0 2rem 4rem black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }

.gprs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: -12%; }
  .gprs__icon {
    transition: all 0.4s ease-in-out; }
    .gprs__icon:hover {
      transform: translateY(-0.3rem); }
    .gprs__icon:active {
      transform: translateY(0); }
  .gprs__label {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-0.5rem);
    transition: all 0.3s ease-in-out; }
  .gprs__icon:hover ~ .gprs__label {
    opacity: 1;
    transform: translateY(0.5rem); }

.icon {
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out; }
  .icon--gprs {
    font-size: 5rem; }
  .icon--search {
    font-size: 3.5rem;
    margin-left: 2rem;
    position: absolute;
    top: 1.25rem;
    opacity: 0;
    pointer-events: none;
    transform: translateX(0); }

.location {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .location__text {
    color: #fff;
    line-height: 1.5; }
  .location__time-zone {
    font-size: 4.8rem;
    font-weight: 200; }
  .location__area {
    font-size: 2.8rem;
    font-weight: 800; }
  .location__country {
    font-size: 2.8rem;
    font-weight: 200; }
  .location__icon-container {
    width: 15rem; }
  .location__icon {
    color: #fff;
    width: 100%; }

.search-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .search-bar__label-container {
    background-color: #fff;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    z-index: 1; }
  .search-bar__label {
    width: 100%; }
  .search-bar__input-container {
    width: 25rem;
    height: 6rem;
    border-radius: 100rem;
    transform: translateX(-5rem); }
  .search-bar__input {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    padding-left: 6rem;
    border: none;
    outline: none;
    border-radius: inherit;
    position: relative;
    transition: all 0.4s ease-in-out; }
    .search-bar__input:focus {
      width: 60rem; }
    .search-bar__input:focus ~ .search-bar__icon > .icon--search {
      opacity: 1;
      pointer-events: all;
      transform: translateX(60rem); }

.temperature {
  color: #fff;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .temperature__text {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer; }
  .temperature__value {
    font-size: 12rem; }
  .temperature__degree {
    font-size: 10rem;
    font-weight: 600;
    margin-left: 1rem;
    align-self: flex-start; }
  .temperature__units {
    font-size: 8rem;
    font-weight: 200; }
  .temperature__description {
    font-size: 6rem;
    font-weight: 200; }

body {
  overflow-x: hidden; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .header__background-image {
    position: absolute;
    transform: translateY(0); }
    .header__background-image--sky {
      width: 1920px;
      bottom: 400px;
      left: 0; }
    .header__background-image--mountain-3 {
      width: 1100px;
      bottom: 180px;
      right: 0; }
    .header__background-image--mountain-2 {
      width: 1555.2px;
      bottom: -170px;
      left: 0; }
    .header__background-image--mountain-1 {
      width: 1920px;
      bottom: -150px;
      right: 0;
      z-index: 2; }
    .header__background-image--person {
      width: 900px;
      bottom: -150px;
      left: 0;
      z-index: 2; }
  .header__shadow {
    background: linear-gradient(to top, #000 70%, transparent);
    height: 90rem;
    width: 100%;
    position: absolute;
    top: calc(100vh - 30rem);
    z-index: 2; }
  .header::after {
    content: '';
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); }

.weather {
  background: linear-gradient(#000, #444); }
  .weather__primary {
    height: 100vh;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative; }

.weather-tools {
  height: 10rem;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
