$color-blue-light: #009ffd;
$color-blue-dark: #2a2a72;

$color-pink-light: #fe7bb0;
$color-pink-dark: #ff748b;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #fbd72b;
$color-orange-dark: #f9484a;

$color-red-light: #fc575e;
$color-red-dark: #bd4f6c;

$color-grey-dark: #444;

$color-white: #fff;
$color-black: #000;

$box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
$box-shadow-dark: 0 2rem 4rem rgba($color-black, 1);

$text-shadow-dark: 0 1rem 2rem rgba($color-black, 1);
