.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__background-image {
        position: absolute;
        transform: translateY(0);

        &--sky {
            width: 1920px;
            bottom: 400px;
            left: 0;
        }

        &--mountain-3 {
            width: 1100px;
            bottom: 180px;
            right: 0;
        }

        &--mountain-2 {
            width: 1555.2px;
            bottom: -170px;
            left: 0;
        }

        &--mountain-1 {
            width: 1920px;
            bottom: -150px;
            right: 0;
            z-index: 2;
        }

        &--person {
            width: 900px;
            bottom: -150px;
            left: 0;
            z-index: 2;
        }
    }

    &__shadow {
        background: linear-gradient(to top, $color-black 70%, transparent);
        height: 90rem;
        width: 100%;
        position: absolute;
        top: calc(100vh - 30rem);
        z-index: 2;
    }

    &--blue::after,
    &--green::after,
    &--pink::after,
    &--orange::after,
    &--red::after {
        content: '';
        position: absolute;
        height: 90%;
        width: 100%;
    }

    &--black::after {
        background-color: rgba($color-black, 0.1);
    }

    &--blue::after {
        background-color: rgba($color-blue-light, 0.1);
    }

    &--green::after {
        background-color: rgba($color-green-light, 0.1);
    }

    &--pink::after {
        background-color: rgba($color-pink-light, 0.1);
    }

    &--orange::after {
        background-color: rgba($color-orange-light, 0.1);
    }

    &--red::after {
        background-color: rgba($color-red-light, 0.1);
    }
}
