.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

    &__background-image {
        position: absolute;

        &--sky {
            width: 1920px;
            bottom: 400px;
            left: 0;
        }

        &--mountain-3 {
            width: 998.4px;
            bottom: 210px;
            right: 0;
        }

        &--mountain-2 {
            width: 1555.2px;
            bottom: -170px;
            left: 0;
        }

        &--mountain-1 {
            width: 1920px;
            bottom: -150px;
            right: 0;
        }

        &--person {
            width: 900px;
            bottom: -150px;
            left: 0;
        }
    }

    &__shadow {
        background: linear-gradient(to top, $color-black 20%, transparent);
        height: 50rem;
        width: 100%;
        position: absolute;
        top: calc(100vh - 25rem);
    }

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($color-black, 0.2);
    }
}
