.weather {
    &__primary {
        background: linear-gradient($color-black, $color-grey-dark);
        height: 100vh;
        padding: 3rem 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    &__secondary {
        background: linear-gradient($color-grey-dark, $color-black);
        min-height: 100vh;
        padding: 1rem 6rem;
    }
}

.weather-tools {
    height: 10rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
