.weather {
    background: linear-gradient($color-black, $color-grey-dark);

    &__primary {
        height: 100vh;
        padding: 3rem 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
}

.weather-tools {
    height: 10rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
