.icon {
    color: $color-white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &--gprs {
        font-size: 5rem;
    }

    &--search {
        font-size: 3.5rem;
        opacity: 0;
        transform: translateX(-60rem);
    }
}
