.location {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        color: $color-white;
        line-height: 1.5;
    }

    &__time-zone {
        font-size: 4.8rem;
        font-weight: 200;
    }

    &__area {
        font-size: 2.8rem;
        font-weight: 800;
    }

    &__country {
        font-size: 2.8rem;
        font-weight: 200;
    }

    &__icon-container {
        width: 15rem;
    }

    &__icon {
        color: $color-white;
        width: 100%;
    }
}
