.search-bar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 0;

    &__label-container {
        background-color: $color-white;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
        z-index: 1;
    }

    &__label {
        width: 100%;
    }

    &__input-container {
        width: 25rem;
        height: 6rem;
        border-radius: 100rem;
        transform: translateX(-5rem);
    }

    &__input {
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100%;
        padding-left: 6rem;
        border: none;
        outline: none;
        border-radius: inherit;
        position: relative;
        transition: all 0.4s ease-in-out;

        &:focus {
            width: 60rem;

            @include responsive(tab-p) {
                width: 60vw;
            }
        }

        &:focus ~ .search-bar__icon > .icon--search {
            opacity: 1;
            transform: translateX(0);
        }

        &:focus ~ .search-bar__icon {
            transform: translateX(60rem);

            @include responsive(tab-p) {
                transform: translateX(60vw);
            }
        }
    }

    &__icon {
        background-color: transparent;
        margin-left: 2rem;
        border: none;
        outline: none;
        position: absolute;
        top: 1.25rem;
        z-index: 1;
        transform: translateX(-100rem);
        transition-delay: 0.3s;
    }
}
