@keyframes loading-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes loading {
    0% {
        opacity: 0.2;
        transform: translate(-50%, -50%) scale(0.7);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
